{% extends 'shop/base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">

    <h2 class="fw-bold mb-3 text-center">Contact Us</h2>
    <p class="text-muted text-center mb-4">
      Have a question or need help? We’d love to hear from you.
    </p>

    <form>
      <div class="mb-3">
        <label class="form-label">Your Name</label>
        <input type="text" class="form-control" placeholder="Enter your name">
      </div>

      <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input type="email" class="form-control" placeholder="Enter your email">
      </div>

      <div class="mb-3">
        <label class="form-label">Message</label>
        <textarea class="form-control" rows="4"
                  placeholder="Write your message here"></textarea>
      </div>

      <button class="btn btn-maroon btn-sm w-100">
        Send Message
      </button>
    </form>

    <div class="text-center mt-4 text-muted">
      <p>Email: shopaholic@gmail.com</p>
      <p>Phone: +91 98765 43213</p>
    </div>

  </div>
</div>

{% endblock %}
