{% extends 'shop/base.html' %}

{% block content %}

<h3 class="fw-bold mb-4">Checkout</h3>

<table class="table align-middle">
  <thead>
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    <tr>
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>₹ {{ item.product.price }}</td>
      <td>₹ {{ item.product.price|add:"0" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h5 class="fw-bold mt-3">Grand Total: ₹ {{ total }}</h5>

<form method="post" class="mt-4">
  {% csrf_token %}
  <button class="btn btn-gradient btn-lgn">
    Place Order
  </button>
</form>

{% endblock %}
