{% extends 'shop/base.html' %}

{% block content %}

<h4 class="fw-bold mb-3">
  Search Results {% if query %} for "{{ query }}"{% endif %}
</h4>

<form method="get" class="mb-4">
  <div class="input-group">
    <input type="text"
           name="q"
           value="{{ query }}"
           class="form-control"
           placeholder="Search products...">
    <button class="btn btn-dark">Search</button>
  </div>
</form>

<div class="row g-4">
  {% for product in products %}
  <div class="col-md-4">
    <a href="{% url 'shop:product_detail' product.id %}"
       class="text-decoration-none text-dark">
      <div class="card product-card h-100">
        <img src="{{ product.image.url }}"
             class="card-img-top"
             style="height:250px; object-fit:contain;">
        <div class="card-body">
          <h6>{{ product.name }}</h6>
          <p class="fw-bold">₹ {{ product.price }}</p>
        </div>
      </div>
    </a>
  </div>
  {% empty %}
  <p class="text-muted">No products found.</p>
  {% endfor %}
</div>

{% endblock %}
